<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Notice_Controller</display-name>
    <servlet-name>Notice_Controller</servlet-name>
    <servlet-class>controller.Notice_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notice_Controller</servlet-name>
    <url-pattern>/Notice_Controller</url-pattern>
  </servlet-mapping>
  <display-name>FrontEnd_PROJ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Qna_Controller</display-name>
    <servlet-name>Qna_Controller</servlet-name>
    <servlet-class>controller.Qna_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qna_Controller</servlet-name>
    <url-pattern>/Qna_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Site_Controller</display-name>
    <servlet-name>Site_Controller</servlet-name>
    <servlet-class>controller.Site_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Site_Controller</servlet-name>
    <url-pattern>/Site_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Controller</display-name>
    <servlet-name>User_Controller</servlet-name>
    <servlet-class>controller.User_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Controller</servlet-name>
    <url-pattern>/User_Controller</url-pattern>
  </servlet-mapping>
</web-app>